@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: black;
  background: white;
}
.login {
  background-image: 
    /* linear-gradient(to bottom, #BA8430, #FFD4D4), */
    url('https://img.freepik.com/free-photo/3d-render-modern-network-communications-low-poly-plexus-design_1048-13390.jpg?t=st=1725265745~exp=1725269345~hmac=71c5015e2f323bb96cd825d3196e81ba25dde2f9b9f980e63b47fd40fb94c4d2&w=740');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 30px 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
