@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: black;
  background: white;
}
.login {
  background-image: 
    /* linear-gradient(to bottom, #BA8430, #FFD4D4), */
    url('https://res.cloudinary.com/mindset/image/upload/v1723719711/Group_144_s6tggk.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 30px 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
